h2{
    text-align: center;
    font-size: 30px;
    color: #000000;
    margin: 20px auto;
    background-color: #ea899a ;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 700px;
    margin-top: 60px;
}

section{
    display: flex;
}

.der{
    width: 70%;
    height: 100vh;
    font-size: 20px;
}
.izq{
    width: 30%;
    height: 100vh;
}
img{
    border-radius: 10px;
    width: 280px;
    height: 480px;
    margin: 60px;
}

img.d{
    margin-top: -20px;
}    
p{
    font-size: 22px
}
footer{
    margin-top: 400px;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
}
div.pie{
    font-size: 20px;
}
